[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pracpac"]
	path = pracpac
	url = https://github.com/signaturescience/pracpac
[submodule "skater"]
	path = skater
	url = https://github.com/signaturescience/skater
